<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Your Profile, Visualised</title>
  </head>
  <body>
    {{ .Id }}</br>
    {{ .About }}
  </body>
</html>

